tiktoken>=0.3.2 # openai calculate token

#voice
pydub>=0.25.1 # need ffmpeg
gTTS>=2.3.1 # google text to speech
edge-tts # edge-tts
elevenlabs==1.0.3 # elevenlabs TTS

#install plugin
dulwich

# xunfei spark
websocket-client==1.2.0

# google
google-generativeai

# file parsing (web_fetch document support)
pypdf
python-docx
openpyxl
python-pptx

# dingtalk
dingtalk_stream

# zhipuai
zhipuai>=2.0.1

# tongyi qwen new sdk
dashscope

# tencentcloud sdk
tencentcloud-sdk-python>=3.0.0

# mongodb support
pymongo
